.c_fJ {
    visibility: hidden;
}

.c_dD {
    visibility: hidden;
}

.g_dT {
    visibility: hidden;
}

.c_gS {
    visibility: hidden;
}

.c_d3 {
    visibility: hidden;
}

.g_dW {
    visibility: hidden;
}

.tpl-royalty-branding-bottom {
    visibility: hidden;
}