{
    "refreshTime": "10",
    "mhdUrl": "https://api.golemio.cz/v2/public/departureboards?stopIds={%220%22%3A%20[%22U237Z1P%22%2C%20%22U237Z2P%22%2C%20%22U237Z3P%22]}&minutesAfter=360",
    "mhdApiKey": "PUT-YOUR-API-KEY-HERE",
    "zastavka": "Karlovo Náměstí",
    "weatherUrl": [
	    "https://www.meteo-pocasi.cz/maps/cz/praha/1616-meteostanice-praha-vinohrady/",
	    "https://www.meteo-pocasi.cz/maps/cz/praha/1165-meteostanice-praha-3/",
        "https://api.open-meteo.com/v1/forecast?latitude=50.07592732976484&longitude=14.41938993766259&current_weather=true"
    ],
    "enableMap": "true",
    "mapUrl": "https://mapa.pid.cz/?filter=&zoom=17.0&lon=14.4202&lat=50.0755",
    "missingPerson": "false"
}
