.header {
    visibility: hidden;
}

.footer {
    visibility: hidden;
}

.sidebar {
    visibility: hidden;
}

.tabs {
    visibility: hidden;
}

.checkboxes {
    visibility: hidden;
}

.boxes-filter {
    visibility: hidden;
}

.banner-1 {
    visibility: hidden;
}

.cmplz-manage-consent {
    visibility: hidden;
}

.content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 96%;
    overflow: hidden
}

.block-main {
    position: absolute;
    top: 0px;
}

.title {
    position: absolute;
    top: 0px;
}

.boxes {
    position: absolute;
    top: 60px;
    width: 100vw;
}

html,
body {
    overflow: hidden
}

* {
    cursor: none;
}