body {
    background-color: black !important;
    font-family: "Segoe UI";
    color: white;
}

.noScroll {
    overflow: hidden;
}

footer {
    background-color: black !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 93%;
    background: #333;
    text-align: center;
    z-index: -1;
}

table {
    width: 100%;
    table-layout: fixed;
}

table, th, td {
    /*border: 2px solid white !important;*/
    border-spacing: 0;
}

th, td {
    height: 50px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.nadpis {
    font-size: 130% !important;
}

.smer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px){
    .smer {
        visibility:collapse;
        width: 0px;
        padding: 0;
    }
}

tr:nth-child(even), thead {
  background-color: #2c3034;
}

.output {
    font-size: xx-large;
}

.stranka {
    padding-left: 3%;
    padding-right: 3%;
}

.vetsiText {
    font-size: 200% !important;
}

.missingPerson {
    display: flex;
    justify-content: space-between;
}

.footerText {
    font-size: 170% !important;
}

#odkaz {
    color: white;
}

#mapa {
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
}