.fullWidthInput {
  width: 100%;
  box-sizing: border-box;
}

a {
  color: white
}

input:disabled {
  color: black;
  -webkit-text-fill-color: black;
  opacity: 1;
}

.userlist {
  padding-top: 5px;
}

.weatherSourceRow {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.flexGrow {
  flex-grow: 1;
}

.errorHeading {
  color: red;
}