.fullWidthInput {
  width: 100%;
  box-sizing: border-box;
}

a {
  color: white
}

input:disabled {
  color: black;
  -webkit-text-fill-color: black;
  opacity: 1;
}

.userlist {
  padding-top: 5px;
}